body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

textarea {
    width: 60%;
    height: 120px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

.card {
    margin-top: 20px;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
}

.note {
    margin-top: 20px;
    color: gray;
}